video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}
.hero-section-div{
  height: 50%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #006637;
  border-radius: 5px;
}
.hero-section-div > p {
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.hero-section-div > input {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 80%;
    outline: none;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  /* @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  } */
  
  @media screen and (max-width: 850px) {
  
    .hero-section-div > p {
      font-size: 20px;
      width: 100%;
      padding: 5px;
    }
    .hero-section-div > input {
      font-size: 15px;
      padding: 10px;
      width: 90%;
    }
    .hero-section-div{
      height: 50%;
      width: 90%;
      height: 30%;
    }
  

  }
  