.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

.chat__header {
    background-color: #006637;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__header-title {
    color: white;
}

.chatHeader__item {
    font-size: smaller;
    font-weight: 200;
    font-style: italic;
}

.chat__messages {
    padding: 20px;
    overflow-y: auto;
}

.chat__messages::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar in IE, Edge, and Firefox */
  .chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.chat__form {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    position: sticky;
    
}

.chatForm__input {
    display: flex;
    flex: 1;
}