.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 8px;
    color: white;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 5px;
  }

  .your-message {
    border-radius: 10px 10px 0 10px;
  }
  .other-message {
    border-radius: 10px 10px 10px 0;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: rgb(63,71,113);
  }
  
  .backgroundLight {
    background: rgb(231,237,228);
  }

  .backgroundGreen {
    background-color: #00008B;
  }

  .name {
    padding-bottom: 5px;
  }

  .seller-title {
    font-style: italic;
    color: rgb(148, 100, 100) !important;
    font-weight: 900 !important;
  }

  .title {
    font-style: italic;
    color: rgb(162, 167, 159);
  }

  .time {
    float: right;
    font-style: italic;
    color: rgb(162, 167, 159);
    font-size: small;
  }
  